html {
  scroll-behavior: smooth;
  overflow: hidden;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

}

.container {
  background-color: rgb(96, 172, 179); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(96, 172, 179), rgb(196, 230, 233));
  position: fixed;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 8vh 92vh;
  grid-gap: 0;
  grid-template-areas:
       "sidebar main"
       "sidebar main";
}

.container > div.main {
  overflow-y: auto;
  scroll-behavior: smooth;
}


.sidebar {

  grid-area: sidebar;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar a {
  display: block;
  color: gray;
  text-decoration: none;
  padding: 8px;
  margin: 2px;
  font-size: 20px;
}

.sidebar a.active {
  color: rgb(44, 159, 215);
  border: solid 0.50px  rgb(44, 159, 215);
}

.sidebar a:hover:not(.active) {
  color: white;
  border: solid 0.50px white;
}

.main {
  grid-area: main;
}

@media screen and (max-width: 700px) {
  .sidebar {
    flex-direction: row;
  }

  .container {
    grid-template-areas:
         "sidebar sidebar"
         "main main";
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

section{
  color:rgb(85, 85, 85);
  min-height: 100vh;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  box-shadow: 20px 13px 20px black;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* Specific Sections Syle */
/* Welcome */
.welcome {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: calc(30px + 2vmin);
  text-shadow: 13px 11px 20px black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.name-color{
  color: rgb(46, 53, 55);
}

.next-button {
  margin: 10px 6px;
  padding: 20px;
  animation: bounce 1s ease-in-out infinite;
   -webkit-animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
     0%   { transform: translateY(0); }
     50%  { transform: translateY(-30px); }
     100% { transform: translateY(0); }
 }

/*  About */
.about {
  color:rgb(85, 85, 85);
}

.about-container {
  display:grid;
  grid-template-rows:80px 20vh 350px 1fr ;
  grid-template-columns: 1fr;
  grid-gap: 0.5vh;
  grid-template-areas:
       "title "
       "traits "
       "image-container"
       " bio-content ";

}

.profile-image {
  height: 300px;
  width: 180px;
  border: solid 5px white;
  border-radius: 20px;
}

@media screen and (max-width: 700px) {

  .profile-image {
    height: 200px;
    width: 140px;
  }

  .about-container {
    grid-template-rows:70px 40vh 220px 1fr ;
    grid-template-areas:
       "title title"
       "traits traits"
       "image-container image-container"
       "bio-content bio-content ";
     }

  .traits div {
    min-width: 40vw
  }
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
}

.traits {
  grid-area: traits;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-size: calc(10px + 1vmin);
}

.traits span {
  font-size: calc(20px + 1vmin);
}

.traits > div {
  border: solid 1px white ;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 20vw;
  margin: 5px;
  padding: 5px;

}


.title > h1 {
  padding: 5px;
  border-bottom: solid 0.5px white;
  border-radius: 10px;
}

.image-container{
  grid-area: image-container;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.bio-content{
  grid-area: bio-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.bio-content div {
  width:70%;
  padding: 5px;
  border: solid 1px white ;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: calc(10px + 1vmin);
}

/* Skills section  */

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-gap: 1vh;
  grid-template-areas:
  "skills-title"
  "detailed";
}

.skills {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;

  color:rgb(85, 85, 85);
}

.skills-title {
  grid-area: skills-title;

}

.detailed {
  grid-area: detailed;
  display: flex;
  justify-content: center;
}

.detailed > div {
  width:70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: flex-start;
}

div#detailed svg{
  font-size: calc(50px + 1vmin);
}

div#detailed img {
  height: calc(50px + 1vmin);
}

div#detailed h3{
  margin:0;
}

.skill{
  margin: 10px;
  padding: 10px;
  border: solid 1px white ;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
}

@media screen and (max-width: 700px) {

  .skills-container {
    grid-template-rows: 80px 1fr;
  }

  div#detailed svg{
    font-size: calc(30px + 1vmin);
  }

  div#detailed img {
    height: calc(30px + 1vmin);
  }

  div#detailed div{
    margin: 5px;
  }

}
/*  Projects Cards*/

.project-card {
  margin: 5px;

  border: solid 1px white ;
  border-radius: 20px;
  border-bottom-left-radius: 0px;

  width: calc(350px + 1vmin);

  height:35vh;
}

.project-image {
  height: 90%;
}

.project-image > img {
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 20px 0px;
}
.project-title {
  height: 10%;
}

.project-title > h3{
  margin: 0;
  padding: 5px;
}

.project-card:hover {
  background-color: white;
  color:black;
}

.project-back > p{
  font-size: calc(30px + 1vmin);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.project-link {
  padding: 5px;
  margin: 0 10px;
  border: solid 1px rgb(152, 152, 152);
  border-radius: 10px;
  color: white;
  text-decoration: none;

}
.project-link:hover {
  background-color:rgb(108, 208, 202)
}

.project-link a {
  text-decoration: none;
  color: rgb(152, 152, 152);
}

/*  Projects */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: center;
}
